@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'saira';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/saira.ttf")
}

@font-face {
    font-family: 'saira-italic';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/saira-italic.ttf")
}


@keyframes r-y {
    0% {
      transform: rotateY(0deg);
    }

  
    100% {
      transform: rotateY(360deg);
    }
  }

* {
transform-style: preserve-3d;
}

